@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scrollbar-color: transparent transparent;
}

body {
    min-height: 100vh;
    @apply antialiased bg-white;
}

.chat:hover {
    scrollbar-color: #a3a3a3 transparent;
}

@layer base {
    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-3xl;
        @apply font-medium;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }
    h5 {
        @apply text-lg;
    }
    a {
        @apply text-base;
    }
    small {
        @apply text-sm;
    }
}